.header{
  display: flex;
  justify-content: space-between;
  .logo{
    width: 10rem;
    height: 3rem;
  }
  .header-menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    color: #eee;
    li{
      font-size: 1.3rem;
      cursor: pointer;
      transition: .5s all ease-out;
      &:hover{
        color: $orange;
      }
    }
  }

}