.Testimonials {
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
  .left-t {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    flex: 1 1;
    color: wheat;
    & > :nth-child(1) {
      color: $orange;
      font-size: 1.5rem;
      font-weight: bold;
    }
    & > :nth-child(2) {
      font-weight: bold;
      font-size: 4rem;
    }
    & > :nth-child(3) {
      font-size: 4rem;
      font-weight: bold;
    }
    & > :nth-child(4) {
    text-transform: none;
      text-align: justify;
      letter-spacing: 2px;
      line-height: 40px;
    }
  }
  .right-t{
    flex: 1 ;
    position: relative;

    &>img{
      position: absolute;
      width: 17rem;
      height: 20rem;
      object-fit: cover;
      right: 8rem;
      top: 2rem;
    }
  }
  .right-t>:nth-child(1){
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid orange ;
    background-color: transparent;
    right: 9rem;
    top: .9rem;
  }
  .right-t>:nth-child(2){
    position: absolute;
    width: 17rem;
    height: 19rem;
    background: $planCard;
    right: 7rem;
    top: 4rem;
  }
  .arrows{
    display: flex;
    position: absolute;
    gap: 1rem;
    bottom: 1rem;
    left: 3rem;
    &>img{
    width: 1.5rem;
    cursor: pointer;
    }
  }
}
